#  Local .terraform directories
**/.terraform/*

# .tfstate files
# *.tfstate
# *.tfstate.*
# */*.tfstate
# */*.tfstate.*

# .tfvars files
*.tfvars
*/*.tfvars

# EKS files
config*
*/config*

*.DS_Store